@page "/external-styles"

<link href="/css/external.css" rel="stylesheet" /> @*You should move this line to index.html*@
<span class="external">The text is formatted darkviolet in external file external.css.</span>