@page "/internal-styles"

<span class="internal-style">The text is formatted darkviolet in internal file InternalStyles.razor</span>

<style>
    .internal-style
    {
        color: darkviolet;
    }
</style>